@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.navDesktop{
    
    display: none !important;

}
.menuFooter{
    display: none !important;
}
.rowHiddenprincipal{
    display: none !important;

}

.rowHiddenprincipal2{
    display: flex !important;
    flex-direction: column;

}
*{
    margin: 0px;
    padding: 0px;
}
.mx-auto + p{
    font-family: 'Lobster', cursive;
    color: #F57ADD;
    text-align: center;
    line-height: 70%;
    font-size: large;
    font-weight: 600;
    

}
.buttonDropdownMenu{
    margin-top: 25px;
    margin-left: 30px;

}

.dropdownMenu{
    
    margin-top: 60px !important;
    width: 400px !important;
    
    
    
    
}
.dropdownMenu a{
    color: #F57ADD;
    text-align: right;
    
}
.dropdown + p{
    margin-top: 20px;
    color: #F57ADD;
    font-family: 'Pathway Gothic One', sans-serif;
    line-height: 80%;
    letter-spacing: 0px;
}
main{
    padding: 20px;
}
main h2{
    margin-top: 50px !important;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;

}
main p{
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.containerPrincipal{
    border-radius: 10px;
    background-color: #C4E2FF ;
    overflow: hidden;
}
.containerPrincipal img{
    padding-left: 20px;
    padding-bottom: 10px;
}
.containerPrincipal p{
    color: gray;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    padding-left: 10px;
    line-height: 20%;
    
}
.containerPrincipal hr{
    color: #87c4fd;
    background-color: #87c4fd;
    height: 1px;
    
    

}
.dash{
    float: right;
    
    margin-top: 20px;
    margin-right: 20px;

    
    
    
    
}
.containerPrincipal hr + p{
    color: #F57ADD;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}

.containerPrincipal hr + p +p{
    color: rgb(97, 97, 245);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 16px;
    font-style: oblique;
    text-decoration-line: underline;
}

.containerPrincipal hr + p +p+p{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    font-size: 14px;
    font-style: oblique;
    text-decoration-line: none;
}
footer{
    background-color: #121b24;
}
footer ul{
    list-style-type: none;
    padding-top: 10px;
    
    
   
}
.logo a{
    font-family: 'Lobster', cursive;
    color: #F57ADD;
    font-weight: bold;
    font-size: 30px;
}

footer hr{
    color: #F57ADD;
    background-color: #F57ADD;
}

footer a{
    text-decoration: none;
    color: #F57ADD;
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
}


footer a:hover{
    color: #f8afe9;
    transition: .3s;
}

/* Querie-Medium */
@media (min-width: 540px) {
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        
    }
    .rowHiddenprincipal2{
        display: flex !important;
    
    }
    body{
        overflow-x: hidden;
        
    }
    button{
        margin-left: 130px !important;
    }
    .colParagraph p{
        margin-left: 100px !important;
    }
    .colPrincipal2 .imagePrincipal{
        margin-left: 120px !important;
       
        
    }

    


}
/* Querie-Large */
@media (min-width: 900px) {
    
    .navMobile{
        display: none !important;
        
    }
    .menuFooter{
        display: block !important;
    }
    .rowHiddenprincipal{
        display: flex !important;
    
    }
    .rowHiddenprincipal2{
        display: none !important;
    }

    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        
    }
    body{
        overflow-x: hidden;
        
    }

    .navDesktop{
        display: block !important;
        background-color: #C4E2FF;
        width: 100%;
        
        
        
    }
    .navDesktop .row{
        overflow:hidden !important;
      
        


    }

    .navDesktop p{
        font-family: 'Lobster', cursive;
        color: #F57ADD;
        text-align: center;
        line-height: 70%;
        font-size: large;
        font-weight: 600;

    }
    .col-lg-8 p{
        
        margin-top: 66px;
        color: #F57ADD;
        font-family: 'Pathway Gothic One', sans-serif;
        line-height: 20%;
        letter-spacing: 3px;    
    }
    .col-lg-8 p:hover{
        
        margin-top: 66px;
        color: #fa44d6;
        font-family: 'Pathway Gothic One', sans-serif;
        line-height: 20%;
        letter-spacing: 3px; 
        transition: .3s;   
    }
    menu{
        background-color:#f8afe9;
        
    }
    menu ul{
        list-style-type: none;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
    }
    menu ul li{
        float: left;
        
        
    }
    menu ul li a{
        font-size: 20px;
        display: block;
        text-decoration: none;
        color: #fa44d6;
        
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .colPrincipal h2{
        font-size: 100px;
        text-align: center;
        
    }
    .colPrincipal h2+p{
        font-size: 43px;
        
    }
   .colPrincipal2 .imagePrincipal{
       margin-left: 120px !important;
      
       
   }

   .containerPrincipal:hover{
       border: #F57ADD dashed 1px !important;

   }

   .imageCupcake{
       margin-left: 55px !important;
   }
   .footerMobile{
       display: none;
   }

   .menuFooter{
       height: 140px;
       background-color: #121b24;

   }
   .menuFooter li{
       border-right: dashed 1px  #F57ADD;
       
   }
   .menuFooter a{
    margin: 15px !important;

   }
   .menuFooter p{
       text-align: center;
       text-decoration: none;
    color: #F57ADD;
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
   }

    
   
}



